.my_red {
    color: red;
}
.my_blue {
    color: blue;
    font-size: 3em;
}
.my_shadow {
    text-shadow: 5px 5px 2px gray;
}
.my_warning {
    font-weight: bold;
    text-decoration: underline;
}
.my_pictures {
    max-width: 100%;
}
.my_block {
    display: block;
}
